<% layout("/layouts/boilerplate") %>
<body>

<div class="row mt-3">
    <div class="col-8 offset-3">
        <h3>Listing Details:</h3>
    </div>
</div>

<div class="row">
    <div class="col-6 offset-3">
    <div class="card show-card">
        <img src="<%=listing.image%>" class="card-img-top show-img" alt="Listing img">
        <div class="card-body">
            <p class="card-text">
               <b><%=listing.title%></b> <br>
               <b><%=listing.description%></b> <br>
               <b>&#8377 <%=listing.price%></b> <br>
               <b><%=listing.location%></b> <br>
               <b><%=listing.country%></b> <br>
               <b><%=listing.title%></b> <br>
            </p>
        </div>
    </div>
    </div>
</div>

<div class="row offset-3 mb-3">
    <div class="col-1">
        <a href="/listings/<%=listing._id%>/edit" class="btn btn-dark edit-btn">Edit</a>
    </div>

    <div class="col-2 offset-2">
        <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
            <button class="btn btn-dark">Delete</button>
        </form>
    </div>
</div>  
</body>
